<header class="headet-container">
  <div class="inner-wrapper d-flex justify-content-end align-items-center">
    <img src="../../assets/help-icon.svg" alt="no-image">
    <div class="notification-img">
      <img src="../../assets/notification-icon.svg" alt="no-image">
      <span class="notification">1</span>
    </div>
    <div class="profile-dropdown-wrap">
      <img src="../../assets/profile.png" alt="no-image">
      <button class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Kari Granleese
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" >Action</a>
        <a class="dropdown-item" >Another action</a>
        <a class="dropdown-item">Something else here</a>
      </div>
    </div>
  </div>
</header>