<div class="container">
    <div class="sub-header-wrap d-flex justify-content-between" >
      <div class="sub-header">
        <div class="left-subheader d-flex flex-column">
          <h4>User Management</h4>
          <div class="sub-head-title d-flex">
            <img src="../../assets/home-icon.svg" alt="no-image">
            <span class="separator">/</span>
            <span>User </span>
          </div>
        </div>
      </div>
      <div class="right-sub-header">
        <mat-form-field class="search-filter">
          <mat-label>Search Data</mat-label>
          <input matInput  #filter placeholder="Search Data" >
        </mat-form-field>
        <button class="deactive-btn">Deactivate</button>
        <button class="add-user">
          <img src="../../assets/add-user.svg" alt="no-image">
          Add User
        </button>
      </div>
      
    </div>
    <div class="mat-elevation-z8 table-wrapper">
        <table mat-table [dataSource]="dataSource" matSort  class="table-container">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
      
          <!-- User Group Column -->
          <ng-container matColumnDef="user_group">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User Group </th>
            <td mat-cell  *matCellDef="let element"> {{element.user_group}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <!-- Email ID Column -->
          <ng-container matColumnDef="email_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
            <td mat-cell *matCellDef="let element"> {{element.email_id}} </td>
          </ng-container>
      
          <!-- Role Column -->
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element"> 
              <div  class="d-flex align-items-center">
                <span class="user-active"></span>{{element.status}} 
                <div class="active-row d-flex align-items-center">
                  <div class="edit-icon">
                    <img src="../../../assets/edit-icon.svg" alt="no-image"/>
                    <span class="edit-tooltip">Edit</span>
                  </div>
                  <label class="switch">
                    <input type="checkbox" id="togBtn">
                    <div class="slider round">
                      <span class="active-toolptip off">Active</span>
                      <span class="active-toolptip on">Deactive</span>
                    </div>
                  </label>
                </div>
              </div>
              
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="example-no-results"
          [style.display]="dataSource && dataSource.filteredData && dataSource.filteredData.length == 0 ? '' : 'none'">
          No users found matching filter.
        </div>
        <mat-paginator style-paginator class="paginator-container"
          [showTotalPages]="5"
          [length]="length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="pageEvent = $event">
        </mat-paginator>
      </div>
</div>  