table {
    width: 100%;
}
.container{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
}
th.mat-sort-header-sorted {
    color: black;
  }
  .example-no-results {
    display: flex;
    justify-content: center;
    padding: 24px;
    font-size: 12px;
    font-style: italic;
  }
  ::ng-deep .mat-paginator-page-size{
      display: none !important;
  }
  ::ng-deep .mat-paginator-range-actions {
      display: contents !important;
  }
  .sub-header-wrap{
      margin-bottom: 26px;
    .sub-header{
        .left-subheader{
            h4{
                font-size: 26px;
                font-weight: normal;
                color: #002468;
                margin-bottom: 9px;
            }
            .sub-head-title{
                span{
                    font-size: 14px;
                    font-weight: normal;
                    color: rgba(0, 0, 0, 0.85);
                    &.separator{
                        padding: 0 10px;
                    }
                }
            }
        }
      }
      .right-sub-header{
          ::ng-deep .search-filter{
            .mat-form-field-label {
                padding-left: 20px;
            }
              .mat-form-field-wrapper{
                  padding: 0;
                  .mat-form-field-underline{
                      display: none;
                  }
              }
            .mat-form-field-flex{
                margin: 0;
                border: 0;
                .mat-form-field-infix{
                    border-radius: 4px;
                    border: solid 1.5px rgba(0, 38, 100, 0.6);
                    background-color: #fff;
                    padding: 10px 24px;
                    min-width: 246px;
                    opacity: 0.6;
                    position: relative;
                    &:after{
                        position: absolute;
                        content: '';
                        background-image: url('../../../assets/search-icon.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 19px;
                        height: 19px;
                        top: 9px;
                        right: 10px;
                    }
                }
            }
          }
         
          button{
                border: 0;
                background-color: transparent;
                font-size: 14px;
                color: #002664;
                border-radius: 4px;
                border: solid 1.5px rgba(0, 38, 100, 0.6);
                background-color: #fff;
                padding: 8px 25px;
                outline: none;
                &.deactive-btn{
                    margin-left: 16px;
                }
                &.add-user{
                    background-color: #002664;
                    color: #fff;
                    margin-left: 17px;
                    padding: 8px 14px;
                }
          }
      }
  }
 
  ::ng-deep.my-dialog-container-class{
    .mat-dialog-container{
        padding: 0;
        box-shadow: 0 23px 10px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
        .adduser-dialog-container{
            .adduser-title{
                padding: 18px 35px;
                background-color: #f8faff;
                h3{
                    font-size: 20px;
                    font-weight: normal;
                    color: #002468;
                    margin-bottom: 0;
                }
            }
            .dialog-section-wrapper{
                padding: 30px 35px;
                .search-wrap{
                    .input-label{
                        font-size: 14px;
                        font-weight: bold;
                        color: #485468;
                        line-height: 1.43;
                        display: inline-block;
                        margin-bottom: 13px;
                    }
                    .form-input{
                        width: 100%;
                        .mat-form-field-wrapper{
                            padding: 0;
                            .mat-form-field-infix{
                                margin: 0;
                                border-radius: 4px;
                                border: solid 1px #d9e1ec;
                                padding: 8px 16px;
                                color: #a1a7c4;
                                font-size: 14px;
                                line-height: 1.71;
                                margin-bottom: 30px;
                                
                            }
                            .mat-form-field-underline{
                                display: none;
                            }
                        }
                    }
                }
                .roles-wrap{
                    .roles-title{
                        font-size: 14px;
                        line-height: 1.43;
                        color: #485468;
                        font-weight: bold;
                        display: inline-block;
                        margin-bottom: 14px;
                    }
                    .roles-radio-btn{
                        .radio-btn{
                            width: 50%;
                            margin-bottom: 10px;
                            &.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
                                border-color: #002664;
                                background-color: #002664;
                            }
                            &.mat-radio-button.mat-accent .mat-radio-inner-circle{
                                background-color: #fff;
                            }
                            .mat-radio-label-content{
                                color: #131523;
                                font-size: 14px;
                                line-height: 1.71;
                            }
                        }
                    }
                    
                }
                .selection-wrap{
                    margin-top: 20px;
                    .mat-form-field-wrapper{
                        margin: 0;
                        border-radius: 4px;
                        border: solid 1px #d9e1ec;
                        padding: 8px 16px;
                        color: #a1a7c4;
                        font-size: 14px;
                        line-height: 1.71;
                        .mat-form-field-flex{
                            padding: 0;
                            background-color: transparent;
                            .mat-form-field-infix{
                                margin: 0;
                                padding: 0;
                                border: 0;
                                .mat-select-arrow-wrapper{
                                    padding: 0;
                                    display: block;
                                }
                                .mat-form-field-label-wrapper{
                                    padding: 0;
                                }
                               
                            }
                            
                        }
                        .mat-form-field-underline {
                            display: none;
                        }
                        .mat-select-value-text {
                            .ng-star-inserted{
                                color: #a1a7c4;
                                font-size: 14px;
                                line-height: 1.71;
                            }
                        }
                        
                    }
                }
                .button-wrap{
                    margin-top: 30px;
                    button{
                        border-radius: 4px;
                        border: solid 1px #002664;
                        background-color: #fff;
                        font-size: 16px;
                        line-height: 1.5;
                        color: #002664;
                        padding: 8px 34px;
                        &:first-child{
                            margin-right: 15px;
                        }
                        &.add-user{
                            background-color: #002664;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
  
::ng-deep.cdk-overlay-backdrop.cdk-overlay-backdrop-showing{
    opacity: 0!important;
}
::ng-deep.cdk-overlay-container .cdk-global-overlay-wrapper{
    justify-content: flex-end!important;
}

  .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #002664 !important;
  }

  .mat-checkbox-frame {
    background-color: #ffffff;
    border: 1px solid #d7dbec;
    border-radius: 5px;
  }

  ::ng-deep.table-wrapper{
     box-shadow: none!important;
    .table-container{
        border-radius: 4px;
        border: solid 1px #d4e5f9;
        tr th, tr td{
            border-bottom: solid 1px #d4e5f9;
        }
        thead tr{
            background-color: #f8faff;
            th {
                .mat-sort-header-container {
                    .mat-sort-header-button{
                        font-size: 14px;
                        line-height: 1.71;
                        color: #0f1b41;
                        outline: none;
                    }
                }
            }
        }
        tbody tr{
            td{
                font-size: 14px;
                line-height: 1.71;
                color: #0f1b41;
                .user-active, .user-inactive{
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #52c98f;
                    margin-right: 10px;
                }
                .user-inactive{
                    background-color: #cbcdcc;
                }
                .active-row{
                    display: inline-block;
                    margin-left: 45px;
                    .edit-icon{
                        position: relative;
                        img{
                            cursor: pointer;
                            &:hover{
                                + .edit-tooltip{
                                    display: block;
                                }
                            }
                        }
                        .edit-tooltip{
                            display: none;
                            position: absolute;
                            top: -32px;
                            left: -25px;
                            border-radius: 4px;
                            box-shadow: 0 0 6px 0 rgba(38, 44, 71, 0.16);
                            border: solid 1px #637ba0;
                            background-color: #002663;
                            padding: 3px 12px;
                            font-size: 14px;
                            line-height: 1.43;
                            color: #fff;
                            &::before{
                                content: " ";
                                position: absolute;
                                right: 8px;
                                bottom: -7px;
                                border-top: 8px solid black;
                                border-right: 8px solid transparent;
                                border-left: 8px solid transparent;
                                border-bottom: none;
                            }
                        }
                        
                    }
                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 36px;
                        height: 20px;
                        margin: 0;
                        margin-left: 15px;
                        input {display:none;}
                        &:hover{
                            input + .slider .off {
                                display: block;
                            }
                            input:checked + .slider .off {
                                display: none;
                            }
                            input:checked + .slider .on{
                                display: block;
                            }
                        }
                      }
                      
                      .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ca2222;
                        -webkit-transition: .4s;
                        transition: .4s;
                        &::before{
                            position: absolute;
                            content: "";
                            height: 12px;
                            width: 12px;
                            left: 4px;
                            bottom: 4px;
                            background-color: white;
                            -webkit-transition: .4s;
                            transition: .4s;
                            top: 3px;
                        }
                      }
                      
                    .on{
                        display: none;
                    }
                    .active-toolptip{
                        &::before{
                            content: " ";
                            position: absolute;
                            right: 20px;
                            top: -7px;
                            border-top: 8px solid black;
                            border-right: 8px solid transparent;
                            border-left: 8px solid transparent;
                            border-bottom: none;
                            transform: rotate(180deg);
                        }
                    }
                    
                    .on, .off {
                            position: absolute;
                            transform: translate(-50%, -50%);
                            top: 43px;
                            left: 50%;
                            font-size: 10px;
                            font-family: Verdana, sans-serif;
                            border-radius: 4px;
                            box-shadow: 0 0 6px 0 rgba(38, 44, 71, 0.16);
                            border: solid 1px #637ba0;
                            background-color: #002663;
                            padding: 3px 12px;
                            font-size: 14px;
                            line-height: 1.43;
                            color: #fff;
                            z-index: 1;
                        }

                        // input:checked+ .slider .on
                        // {display: block;}

                        // input:checked + .slider .off
                        // {display: none;}

                      input:checked + .slider {
                        background-color: #fff;
                      }
                      
                      input:focus + .slider {
                        box-shadow: 0 0 1px #2196F3;
                      }
                      
                      input:checked + .slider:before {
                        -webkit-transform: translateX(15px);
                        -ms-transform: translateX(15px);
                        transform: translateX(15px);
                        background-color: #002663;
                      }
                      
                      
                      
                      /* Rounded sliders */
                      .slider.round {
                        border-radius: 16px;
                        border: solid 1px #002663;
                        background-color: #002663;
                        .off,.on {
                            display: none;
                        }
                        
                      }
                      
                      .slider.round:before {
                        border-radius: 50%;}
                      
                }
            }
        }
        .mat-checkbox{
            .mat-checkbox-frame{
                border-radius: 4px;
                border: solid 1px #d7dbec;
                background-color: #ffffff;
            }
        }
        .mat-checkbox-checked.mat-accent .mat-checkbox-background,
         .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
            background-color: #002664;
            border-radius: 4px;
        }
    }
 }

 ::ng-deep.paginator-container{
    background-color: transparent;
     .mat-paginator-navigation-previous, .mat-paginator-navigation-next{
        margin: 0!important;
        width: auto!important;
        height: auto!important;
        line-height: 0!important;
        background-color: transparent!important;
        .mat-paginator-icon{
            fill: #17307a;
            width: 20px;
        }
        
     }
     .mat-mini-fab{
        width: auto;
        height: auto;
        padding: 8px 10px;
        border-radius: 4px;
        font-size: 13px;
        font-weight: 500;
        line-height: 0.92;
        color: #fff!important;
        margin: 5px!important;
        background-color: #002664!important;
    }
 }