<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-header">
       <img src="../../assets/jotunLogo.png" alt="no-image" class="logo">
    </div>
<div class="side-innerwrapper">
    <ul class="list-unstyled components">
        <li class="active main-list">
            <a data-target="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User Management</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a>Users</a>
                </li>
                <li>
                    <a>User Group</a>
                </li>
                
            </ul>
        </li>
       
        <li class="main-list">
            <a data-target="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Formulation Handbook</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a>Page 1</a>
                </li>
                <li>
                    <a>Page 2</a>
                </li>
                <li>
                    <a>Page 3</a>
                </li>
            </ul>
        </li>
        <li class="main-list">
            <a data-target="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Raw Materials</a>
            <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li>
                    <a>Page 1</a>
                </li>
                <li>
                    <a>Page 2</a>
                </li>
                <li>
                    <a>Page 3</a>
                </li>
            </ul>
        </li>
        <li class="main-list">
            <a data-target="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pigmentation Library</a>
            <ul class="collapse list-unstyled" id="pageSubmenu2">
                <li>
                    <a>Page 1</a>
                </li>
                <li>
                    <a>Page 2</a>
                </li>
                <li>
                    <a>Page 3</a>
                </li>
            </ul>
        </li>
        <li class="main-list">
            <a data-target="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Formulation Creation</a>
            <ul class="collapse list-unstyled" id="pageSubmenu3">
                <li>
                    <a>Page 1</a>
                </li>
                <li>
                    <a>Page 2</a>
                </li>
                <li>
                    <a>Page 3</a>
                </li>
            </ul>
        </li>
        <li class="main-list">
            <a data-target="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Recipe Generation</a>
            <ul class="collapse list-unstyled" id="pageSubmenu4">
                <li>
                    <a>Page 1</a>
                </li>
                <li>
                    <a>Page 2</a>
                </li>
                <li>
                    <a>Page 3</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="paint-img-block"></div>
</div>
</nav>