.sidebar-wrapper{
    box-shadow: 1px 0 25px 0 rgba(0, 0, 0, 0.04);
    background-color: #002664;
    width: 250px;
    height: 100%;
    padding: 37px 0 0;
    margin: 0;
    .sidebar-header{
        padding: 0 30px 62px;
        .logo{
            width: 100%;
        }
    }
    .side-innerwrapper{
        height: calc(100vh - 150px);
        overflow-y: auto;
        .list-unstyled {
            margin: 0;
            &.components{
                padding: 0 25px;
                .main-list{
                    position: relative;
                    &:after{
                        position: absolute;
                        content: '';
                        background-image: url('../../assets/user-grey.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 12px;
                        height: 12px;
                        top: 17px;
                    }
                    &:nth-child(2){
                        &::after{
                            background-image: url('../../assets/book-grey.svg');
                        }
                    }
                    &:nth-child(3){
                        &::after{
                            background-image: url('../../assets/rawmaterial-grey.svg');
                        }
                    }
                    &:nth-child(4){
                        &::after{
                            background-image: url('../../assets/pig-lib-grey.svg');
                        }
                    }
                    &:nth-child(5){
                        &::after{
                            background-image: url('../../assets/for-cre-grey.svg');
                        }
                    }
                    &:nth-child(6){
                        &::after{
                            background-image: url('../../assets/rg-grey.svg');
                        }
                    }
                }
               
                
            }
            .main-list{
                border-bottom: solid 1px rgba(240, 171, 0, .21);
                .dropdown-toggle{
                    display: block;
                    opacity: 0.5;
                    font-size: 13px;
                    color: #fff;
                    position: relative;
                    padding: 14px 0 14px 24px;
                    cursor: pointer;
                    &::after{
                        border: 0;
                        background-image: url('../../assets/sidenav-uparrow.svg');
                        width: 10px;
                        height: 6px;
                        background-position: right;
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        right: 0;
                        top: 22px;
                        transform: rotate(180deg);  
                    }
                    &[aria-expanded="true"]{
                        &::after{
                            transform: rotate(0);  
                        }
                    }
                }
                .list-unstyled{
                    li{
                        position: relative;
                        &:after{
                            position: absolute;
                            content: '';
                            left: 0;
                            background-image: url('../../assets/arrow-right.svg');
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 12px;
                            height: 12px;
                            top: 13px;
                        }
                        a{
                            font-size: 13px;
                            opacity: 0.5;
                            color: #fff;
                            padding: 10px 0;
                            display: block;
                            padding-left: 24px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    
    .paint-img-block{
        height: 300px;
        background-image: url('../../assets/paintImg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }
}