<div class="page-container-block">
  <div class="sub-header-wrap d-flex justify-content-between" >
    <div class="sub-header">
      <div class="left-subheader d-flex flex-column">
        <h4>Raw Material</h4>
        <div class="sub-head-title d-flex">
          <img src="../../assets/home-icon.svg" alt="no-image">
          <span class="separator">/</span>
          <span>Raw Material </span>
        </div>
      </div>
    </div>
    <div class="right-sub-header d-flex align-items-center">
      <div class="button-first-block">
        <!-- <button class="edit-icon" >
          <img alt="no-image" src="../../assets/blue-close.svg">
          <span class="edit-tooltip">Deactivate</span>
        </button> -->
        <!-- <button class="edit-icon" >
          <img alt="no-image" src="../../assets/blueSearch.svg">
          <span class="edit-tooltip">Search</span>
        </button>
        <button [disabled]="replaceIcon"  [ngClass]="replaceIcon ? 'disabled' : ''" class="edit-icon" >
            <img alt="no-image" src="../../assets/replace.svg" alt="no-image" >
            <span class="edit-tooltip">Replace</span>
        </button>
        <button [disabled]="handbookIcon" [ngClass]="handbookIcon ? 'disabled' : ''" class="edit-icon" >
            <img alt="no-image" src="../../assets/handbook.svg" alt="no-image"  >
            <span class="edit-tooltip">Add to Other Handbook</span>
        </button> -->
        <button class="edit-icon"  (click)="openViewRawMaterialDialog()" [disabled]="viewIcon" [ngClass]="viewIcon ? 'disabled' : ''">
        <img alt="no-image" src="../../assets/view.svg" alt="no-image">
        <span class="edit-tooltip">View</span>
      </button>
      <!-- [disabled]="editIcon" [ngClass]="editIcon ? 'disabled' : ''" > -->
    <!-- </div>
      <div class="button-first-block"> -->

        <button class="edit-icon" (click)="deactivateRawMaterial()" [disabled]="deactivateIcon" [ngClass]="deactivateIcon ? 'disabled' : ''" >
            <img alt="no-image" src="../../assets/raw-material-deactive.svg" alt="no-image" >
            <span class="edit-tooltip">Change Status</span>
        </button>
        <button class="edit-icon" (click)="openEditRawMaterialDialog()" [disabled]="editIcon" [ngClass]="editIcon ? 'disabled' : ''">
          <img alt="no-image" src="../../assets/editIcon.svg">
          <span class="edit-tooltip">Edit</span>
      </button>
        <!-- <button class="edit-icon" (click) = "openAddGroupDialog()" >
            <img alt="no-image" src="../../assets/raw-material-group.svg" alt="no-image"  >
            <span class="edit-tooltip">RawMaterial Group</span>
        </button> -->
        <button class="edit-icon bg-blue" (click)= "openAddRawMaterialDialog()" >
            <img alt="no-image" src="../../assets/addnew.svg" alt="no-image">
            <span class="edit-tooltip">Add New</span>
        </button>
      </div>

    </div>

  </div>
  <div class="mat-elevation-z8 table-wrapper">
      <table mat-table multiTemplateDataRows [dataSource]="dataSource" matSort  class="table-container">

        <!-- Raw Material Column -->

        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns ">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column | removeSpecialChar | titlecase}} </th>
          <td mat-cell *matCellDef="let element">
              <img *ngIf="column != 'type_of_group'" src="../../assets/downArrow.svg" class="down-arrow" alt="no-image">

            <!-- <mat-checkbox *ngIf="element[column]"
                          (click)="$event.stopPropagation()"
                          (change)="$event ? masterToggle(element,i) : null"
                                    >
            </mat-checkbox> -->
            <!-- <img *ngIf="element['type_of_group']=='Pigmentation Group'" src="../../assets/pigment-icon.svg" class="pigment-icon" alt="no-image"> -->
            <span *ngIf="element['type_of_group']=='Pigmentation Group'" class="sub-head-title" ><b>P-   </b></span>
            <span *ngIf="element['type_of_group']=='Raw Material Group'" class="sub-head-title"><b>R-   </b>   </span>

            <span>{{element[column]}} </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail" >
          <td mat-cell *matCellDef="let element ; let i = dataIndex;" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" *ngIf="element.children?.data.length" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
                <table #innerTables mat-table #innerSort="matSort" [dataSource]="element.children" matSort>
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle(element,i) : null"
                                    (click)="$event.stopPropagation()"
                                    [checked]="selection[i].hasValue() && isAllSelectedEle(element, i)"
                                    [indeterminate]="selection[i].hasValue() && !isAllSelectedEle(element, i)"
                                    [aria-label]="checkboxLabel(i, element)">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? onSelect(element , i) : null"
                                    [checked]="selection[i].isSelected(element)"
                                    [aria-label]="checkboxLabel(i, element)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                  <!-- <ng-container  matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of innerDisplayedColumns | slice:1 ">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{innerColumn  | removeSpecialChar | titlecase}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[innerColumn]}} </td>
                  </ng-container> -->
                  <ng-container matColumnDef="rm_no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rm No
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.rm_no}} </td>
                  </ng-container>

                  <ng-container matColumnDef="raw_material">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header > Raw Material
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.raw_material}} </td>
                  </ng-container>

                  <ng-container matColumnDef="alpha_group">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header > Alpha Group
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.alpha_group}} </td>
                  </ng-container>

                  <ng-container matColumnDef="manufacture_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header > Manufacturer </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.manufacture_name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="specific_gravity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header > Specific Gravity
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.specific_gravity}} </td>
                  </ng-container>

                  <ng-container matColumnDef="durability">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Durability </th>
                    <td mat-cell *matCellDef="let element"> {{element.durability}} </td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="access_level">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Access Levels </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.access_level}} </td>
                  </ng-container> -->

                  <ng-container matColumnDef="active_status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element">
                      <div  class="d-flex align-items-center">
                        <span [ngClass]="element.active_status ? 'user-active' : 'user-inactive'"></span>{{element.active_status?"Active":"Inactive"}}
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
                </table>
              </div>
            </div>
          </td>
        </ng-container>

<!-- Expanded Table Data -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" [class.example-element-row]="element.children?.data.length"
       [class.example-expanded-row]="expandedElement === element" (click)="toggleRow(element)">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <div class="example-no-results"
        [style.display]="dataSource && dataSource.filteredData && dataSource.filteredData.length == 0 ? '' : 'none'">
        No data found.
      </div>
      <mat-paginator style-paginator class="paginator-container" *ngIf="paginationView"
        [showTotalPages]="5"
        [length]="length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        (pageChange)="nextPageChange($event)"
        (page)="changePageSize($event)"
      >
    </mat-paginator>
    </div>
    <ngx-spinner></ngx-spinner>
</div>


