<div class="page-container-block">
  <div class="sub-header-wrap d-flex justify-content-between" >
    <div class="sub-header">
      <div class="left-subheader d-flex flex-column">
        <h4>Formulation Creation</h4>
        <div class="sub-head-title d-flex">
          <img src="../../assets/home-icon.svg" alt="no-image">
          <span class="separator">/</span>
          <span> Formulation Creation  </span>
        </div>
      </div>
    </div>
    <div class="right-sub-header d-flex align-items-center">
      <button class="edit-icon">
        <img alt="no-image" src="../../assets/filterIcon.svg">
        <span class="edit-tooltip">Filter</span>
      </button>
      <button class="edit-icon bg-blue" >
        <img alt="no-image" src="../../assets/Whitesearch.svg">
        <span class="edit-tooltip">Search</span>
      </button>
    </div>
  </div>
  <div class="selection -block">
    <div class="tab-wrapper sub-tabs-block">
      <mat-tab-group>
        <mat-tab label="Interior" >
          <div class="tab-wrapper sub-tabs ">
            <mat-tab-group>
              <mat-tab label="Handbooks">
                <div class="tab-inner-wrapper d-flex">
                  <div class="tab-inner-sidemenu">
                    <mat-accordion class="example-headers-align">
                      <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title class="d-flex align-items-center justify-content-between">
                            <div class="rigth-text d-flex align-items-center ">
                              <img src="../../assets/starIcon.svg" alt="no-image">
                              <span> Guard Classic</span>
                            </div>
                            <img src="../../assets/sidenav-uparrow.svg"  class="arrow">
                          </mat-panel-title>
                         
                        </mat-expansion-panel-header>
                    
                        <div class="panel-section">
                          <ul class="list-sub-side">
                            <li>Guard Classic D</li>
                          </ul>
                        </div>
                      </mat-expansion-panel>
                      <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title class="d-flex align-items-center justify-content-between">
                            <div class="rigth-text d-flex align-items-center ">
                              <img src="../../assets/starIcon.svg" alt="no-image">
                              <span> Guard Style</span>
                            </div>
                            <img src="../../assets/sidenav-uparrow.svg" class="arrow">
                          </mat-panel-title>
                         
                        </mat-expansion-panel-header>
                    
                        <div class="panel-section">
                          <ul class="list-sub-side">
                            <li>Guard Classic D</li>
                          </ul>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                  <div class="tab-right-wrap">
                    <mat-accordion class="example-headers-align">
                      <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title class="d-flex align-items-center justify-content-between">
                            <div class="rigth-text d-flex align-items-center ">
                              <span> View Product Details</span>
                            </div>
                            <img src="../../assets/sidenav-uparrow.svg"  class="arrow">
                          </mat-panel-title>
                         
                        </mat-expansion-panel-header>
                    
                        <div class="panel-section d-flex flex-wrap">
                          <div class="fields-wrap d-flex">
                            <label>Segment </label>
                            <span class="seperator">:</span>
                            <span class="text-field">Exterior</span>
                          </div>
                          <div class="fields-wrap d-flex">
                            <label>Approved Units</label>
                            <span class="seperator">:</span>
                            <span class="text-field">All</span>
                          </div>
                          <div class="fields-wrap d-flex">
                            <label>Updated By  </label>
                            <span class="seperator">:</span>
                            <span class="text-field">Laurent Verite</span>
                          </div>
                          <div class="fields-wrap d-flex">
                            <label>Recipe Responsible</label>
                            <span class="seperator">:</span>
                            <span class="text-field">L.Higgs, Cristofer</span>
                          </div>
                          <div class="fields-wrap d-flex">
                            <label>Uploaded on</label>
                            <span class="seperator">:</span>
                            <span class="text-field">24/04/2019</span>
                          </div>
                           <div class="fields-wrap d-flex">
                            <label>User View Access</label>
                            <span class="seperator">:</span>
                            <span class="text-field">Anne Elisabeth, AnnelillGade</span>
                          </div> 
                          <div class="fields-wrap d-flex">
                            <label>Editors</label>
                            <span class="seperator">:</span>
                            <span class="text-field">Christer Opstad, Zouhir Allouni, 
                              Laurent Vertine</span>
                          </div>
                          
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                    <div class="filter-wrap d-flex justify-content-between" (click)="openFilterFormulationDialog()">
                      <span>Products</span>
                      <div class="filter-dropdown">
                        <span><img src="../../assets/filterIcon.svg">Filter by :</span>
                        <span>   xxxx <img src="../../assets/sidenav-uparrow.svg" class="arrow"></span>
                      </div>
                    </div>
                    <mat-accordion class="example-headers-align">
                      <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header class="guard-header">
                          <mat-panel-title class="d-flex align-items-center  justify-content-between">
                            <div class="rigth-text guard-block d-flex align-items-center ">
                              <span> Guard Style D8 (Smooth)</span>
                            </div>
                            <div class="add-products">
                              <span>+  Add Product</span>
                              <img src="../../assets/sidenav-uparrow.svg"  class="arrow">

                            </div>
                          </mat-panel-title>
                         
                        </mat-expansion-panel-header>
                        <div class="guard-section d-flex flex-wrap">
                          <button>Guard Style D8 - Gloss 20-59</button>
                          <button class="active">Guard Style D8 - Gloss 60-79</button>
                          <button>Guard Style D8 - Gloss 60-99</button>
                          <button>Guard Style D8 - Gloss 60-89</button>

                        </div>
                      </mat-expansion-panel> 

                     </mat-accordion>               
                  </div>
                </div>
              


              </mat-tab>
              <mat-tab label="Drafts"> Content 2 </mat-tab>
              <mat-tab label="Archive"> Content 3 </mat-tab>
            </mat-tab-group>
            <div class="edit-level-btn button-wrap">
              <button class="cancel-btn d-flex align-items-center"><img src="../../assets/editIcon.svg">Edit Levels</button>
            </div>
          </div>
         </mat-tab>
        <mat-tab label="Exterior"> Content 2 </mat-tab>
        <mat-tab label="Functional"> Content 3 </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
  